.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  margin-top: 5px !important;
}

.MuiList-root.MuiMenu-list {
  padding: 0 !important;
}

.MuiButtonBase-root.MuiMenuItem-root.Mui-selected {
  background-color: #f5f5f5 !important;
}
